
body {
    margin: 0px;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    background: black;
    color: white;
    min-height: 125px;
    width: 1910px;
    padding-left: 30px;
    border-bottom: red 6px solid;
}

ul {
    float: right;
    list-style-type: none;
    margin-right: 100px;
    margin-top: 40px;
}

ul li {
    display: inline-block;
}

ul li a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 20px;
    transition: 0.6s ease;
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
    font-family: 'Russo One', sans-serif;
}

ul li a:hover {
    color: black;
    background-color: white;
}

.logo {
    color: red;
    position: absolute;
    font-style: oblique;
    text-decoration-line: underline;
}

.showcase .first img {
    position: static;
}

.second img {
    position: static;
}

.second h1 {
    position: absolute;
    top: 1500px;
    right: 400px;
    letter-spacing: 3px;
    font-size: 100px;
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
    font-family: 'Russo One', sans-serif;
}


.third img {
    position: static;
    top: 2170px;
}

.third h1 {
    position: absolute;
    top: 2700px;
    font-size: 120px;
    right: 350px;
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
    font-family: 'Russo One', sans-serif;
}


.mission h1 {
    position: static;
    margin-left: 20px;
    margin-top: 250px;
    font-size: 100px;
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
    font-family: 'Russo One', sans-serif;
}

.mission p {
    position: static;
    margin-top: 0px;
    margin-left: 20px;
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
    font-family: 'Russo One', sans-serif;
}

.mission img {
    position: static;
    margin-top: 150px;
    left: 20px;
    padding-bottom: 30px;
}

.ceo h1 {
    position: absolute;
    font-size: 40px;
    top: 480px;
    left: 250px;
}

.ceo p {
    position: absolute;
    top: 800px;
    left: 250px;
    padding-right: 500px;
}

.cto img {
    position: static;
    margin-top: 80px;
}

.cto h1 {
    position: absolute;
    top: 870px;
    left: 250px;
    font-size: 40px;
}

.cto p {
    position: absolute;
    top: 1200px;
    left: 250px;
    padding-right: 500px;
}

.coo img {
    position: static;
}

.coo h1 {
    position: absolute;
    top: 1280px;
    left: 250px;
    font-size: 40px;
}

.coo p {
    position: absolute;
    left: 250px;
    top: 1600px;
    padding-right: 500px;
}

.email input[type="text"] {
    position: absolute;
    left: 800px;
    top: 250px;
    width: 300px;
    height: 25px;
    padding-left: 10px;
    border-radius: .5em;
}

.email input[type="text"]:focus {
    border: transparent;
}

.complain input[type="text"] {
    position: relative;
    left: 500px;
    top: 450px;
    width: 900px;
    height: 250px;
    padding-left: 10px;
    border-radius: .5em;
}


.complain input[type="button"] {
    position: absolute;
    top: 750px;
}

.hq {
    @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
    font-family: 'Alata', sans-serif;
}